{% extends 'base.html' %}

{% block body %}
<div id="modals">
   <div>
      <div class="modal modal--type__error modal--origin__app modal--new" data-id="error:56933">
         <div class="ico-holder modal__icon"></div>
         <span class="modal__title">ВАЖНО!</span>  
         <div class="modal__content"> Please confirm your email address to complete the registration. </div>
         <div class="modal__buttons" onclick="return location.href = '{% url 'tippspiel_match_list' %}'"> <span data-href="" data-index="0" class="modal__button modal__button--close">Закрыть</span> </div>
      </div>
   </div>
</div>
{% endblock %}