{% extends "base.html" %}
{% load i18n staticfiles %}
{% load activepage %}
{% block body %}
{% load currency_conversions %}

<div id="wrapper">
   <div class="downtime-alert" id="downtimeAlert" style="display: none;"></div>
	{% include 'bbil/horizontal_menu.html' %}
   <div class="menu menu-top menu-horizontal" data-level="3" data-sticky="false"></div>
   <div class="banner" style="display: none;"></div>
   <div id="content-wrap">
      <div class="campaign campaign--tablet" data-loc="top">
         <div></div>
      </div>
      <div class="slider"></div>
      <div id="content">
         <div class="view visible" id="profileView">
            <div class="accHolder">
               <h3>{% trans "My account" %}</h3>
               <div class="accNum"><span>{% trans "Account number" %}:</span>&nbsp;{{wallet.receiving_address}}</div>
               <div class="accBalance"> <a id="profileDeposit" class="button" href="{% url 'pay' %}">{% trans "Deposit" %}</a> <span>{% trans "Balance" %}:</span> {{wallet.total_balance | btc2currency:user.profile.currency}}  {{ user.profile.currency }} </div>
               <ul class="accDetails">
                  <li id="accDetailsWtb" class="al"> <span>{% trans "In Game" %}</span>
                  {% if betCount > 0 %}
                  	<span class="waitingAmount ico-holder inGame">{{betCount}}</span>                  
                  {% else %} 
                  	<span class="waitingAmount ico-holder blank">0</span>
                  {% endif %} 
                  	<span class="accAmount">{{ inGame | btc2currency:user.profile.currency }} {{ user.profile.currency }}</span> </li>
                  <li id="accDetailsWdr" class="ar"> <span>{% trans "Requested for payment" %} </span> <span class="waitingPayout ico-holder">...</span> <span class="accAmount">{{to_outgoing | btc2currency:user.profile.currency}}  {{ user.profile.currency }}</span> </li>
               </ul>
               <ul class="list iconized wide">
                  <li>
                     <hr>
                  </li>
                  <li>
                     <a id="profileWithdrawals" href="{% url 'escrow' %}"> <span class="ico-holder"></span> <span class="label">{% trans "Payments from the account" %} </span> <span class="chevron"></span> </a> 
                     <hr>
                  </li>
                  <li>
                     <a id="profileNotification"> <span class="ico-holder "></span> <span class="label">{% trans "Administrator's messages" %}</span>  <span class="chevron"></span> </a> 
                     <hr>
                  </li>
               </ul>
            </div>
            <a id="logout" class="button gray" onclick="return location.href = '{% url 'logout' %}'">{% trans "Logout" %}</a>  
         </div>
      </div>

   </div>
</div>
{% endblock %}

{% block bets %}
	{% actual_bids %}
{% endblock %}
