{% extends "base.html" %}
{% load i18n staticfiles %}
{% block body %}

<div id="wrapper">
   <div class="downtime-alert" id="downtimeAlert" style="display: none;"></div>
   <div class="menu menu-top menu-horizontal" data-slider="true" data-level="2" data-menu-id="profile" style="opacity: 1;">
      <div class="menu-inner position-fixed tab-list-current">
         <div class="tabs-nav"> <a href="#" class="tabs-nav__itm tabs-nav__itm--prev is-inactive"></a> <a href="#" class="tabs-nav__itm tabs-nav__itm--next is-inactive"></a> </div>
         <div class="tab-list tab-list-current" data-count="3">
            <ul>
               <li data-id="profileGeneral" class="tab item-profileGeneral" onclick="return location.href = '{% url 'profile' %}'">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Профайл</div>
                  </div>
               </li>
               <li data-id="history" class="tab item-history" onclick="return location.href = '{% url 'history' %}'">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">История</div>
                  </div>
               </li>
               <li data-id="profileSettings" class="tab item-profileSettings active">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Настройки</div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="menu menu-top menu-horizontal hidden" data-level="3" data-sticky="false" data-menu-id="history" style="opacity: 1;"></div>
   <div class="banner" style="display: none;"></div>
   <div id="content-wrap">
      <div class="campaign campaign--tablet" data-loc="top">
         <div></div>
      </div>
      <div class="slider"></div>
      <div id="content">
         <div class="view visible" id="settingsView">
            <h1 class="title"><span class="title-holder">Изменение личных данных</span></h1>
            <div class="errors"></div>
            <form id="settingsForm" class="profileSettings">
               <fieldset>
               
               {% for field in form %}
    			<div class="label-block">
        			{{ field.errors }}
        			<label class="labelTop" for="{{ field.name }}">{{ field.label }}</label>
        			<div class="input-holder">
        			 	{{ field }}
        			 </div>
    			</div>
				{% endfor %}
                  <!-- div class="label-block">
                     <label for="country" class="labelTop">Имя пользователя</label>
                     <div class="input-holder"><input id="country" name="country" disabled="disabled" class="non-editable" value="{{user.username}}" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"><span class="error"></span></div>
                  </div>
                  
                  <div class="label-block">
                     <label class="labelTop">Валюта счета</label>
                     <div class="input-holder"><input name="currency" disabled="disabled" class="non-editable" value="BTC" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"><span class="error"></span></div>
                  </div>
                  <div class="label-block">
                     <label class="labelTop">Адрес эл. почты (E-mail)</label>
                     <div class="input-holder"><input name="email" disabled="disabled" class="non-editable" value="{{user.email}}" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"><span class="error"></span></div>
                  </div-->
               </fieldset>
               <a id="settingsSubmit" class="button">Сохранить</a> <input type="submit" class="hiddenButton"> 
            </form>
            <div class="profileSettings">
               <h1 class="title"><span class="title-holder">Настройки безопасности</span></h1>
               <ul class="list">
                  <li>
                     <a id="changePass">Изменение пароля<span class="chevron"></span></a>
                     <hr>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}