{% extends "base.html" %}
{% load i18n staticfiles %}
{% block body %}

<div id="wrapper">
   <div class="downtime-alert" id="downtimeAlert" style="display: none;"></div>
	{% include 'bbil/horizontal_menu.html' %}
   <div id="content-wrap">
      <div class="campaign campaign--tablet" data-loc="top">
         <div></div>
      </div>
      <div class="slider"></div>
      <div id="content">
         <div class="view visible" id="settingsView">
            <h1 class="title"><span class="title-holder">{% trans "Change of personal data" %}</span></h1>
            <div class="errors">
            <p>
            	{{ form.errors }}
				{{ form.non_field_errors }}
			</p>            
            </div>
            <form id="settingsForm" class="profileSettings" method="post">            
               <fieldset>
				{% csrf_token %} 
               	{% for field in form %}
    			<div class="label-block" id="{{ field.name }}">
        			{{ field.errors }}
        			<label class="labelTop" for="{{ field.name }}">{{ field.label }}</label>
        			<div class="input-holder">
        			 	{{ field }}
        			 </div>
    			</div>
				{% endfor %}
               </fieldset>
            <!-- Registration button --> <input type="submit" id="regButton" class="button" value="{% trans "Save" %}"> <!-- END of Registration button -->               
            </form>
            <div class="profileSettings">
               <h1 class="title"><span class="title-holder">{% trans "Security Settings" %}</span></h1>
               <ul class="list">
                  <li>
                     <a id="changePass" href="{% url 'password_change' %}">{% trans "Change password" %}<span class="chevron"></span></a>
                     <hr>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}