{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div id="wrapper">
<div id="content-wrap">
<div id="content">
   <div class="view visible" id="registrationView">
      <h1 class="title"><span></span>{% trans "Registration" %}</h1>
      <div class="registration panel" title="Регистрация">
         <div class="hintBlock">
            <b class="fs16">
            {% blocktrans %}
				When filling out the form: </ b>
             <p> All the fields of the form are required. <br> We are asking you to provide reliable information. </ p>            
			{% endblocktrans %}
            <p>
            	{{ form.errors }}
				{{ form.non_field_errors }}
			</p>
         </div>
         <form autocomplete="off" method="post">
             {% csrf_token %}
            <fieldset>
               {% for field in form %}
    			<div class="label-block" id="{{ field.name }}">
        			{{ field.errors }}
        			<label class="labelTop" for="{{ field.name }}">{{ field.label }}</label>
        			<div class="input-holder">
        			 	{{ field }}
        			 </div>
    			</div>
				{% endfor %}
               <p class="hint">
            {% blocktrans %}
               	The password must contain at least one letter and one number.
            {% blocktrans %}
               	</p>
            </fieldset>
            <!-- Registration button --> <input type="submit" id="regButton" class="button" value="{% trans "Sign Up" %}"> <!-- END of Registration button -->
         </form>
      </div>
   </div>
</div>
</div>
</div>

{% endblock %} 