{% extends 'base.html' %}

{% block body %}
<div id="wrapper">
<div id="content-wrap">
<div id="content">
   <div class="view visible" id="registrationView">
      <h1 class="title"><span></span>Регистрация</h1>
      <div class="registration panel" title="Регистрация">
         <div class="hintBlock">
            <b class="fs16">При заполнении формы:</b> 
            <p> Все поля формы являются обязательными к заполнению.<br> Настоятельно просим Вас указывать достоверную информацию. </p>
            <p>
            	{{ form.errors }}
				{{ form.non_field_errors }}
			</p>
         </div>
         <form autocomplete="off" method="post">
             {% csrf_token %}
            <fieldset>
               <h4>Личная информация</h4>
               <div class="label-block">
                  <label class="labelTop">Имя пользователя</label>
                  <div class="input-holder">{{form.username}}<span class="error">{{ form.username.errors }}</span></div>
               </div>
               <h4>Данные счета</h4>
               <div class="label-block">
                  <label class="labelTop">E-mail</label>
                  <div class="input-holder">{{form.email}}<span class="error">{{ form.email.errors }}</span></div>
               </div>
               <div class="label-block">
                  <label class="labelTop">Пароль (минимум 8 символов)</label>
                  <div class="input-holder"><i class="eye ico-holder"></i>{{form.password1}}<span class="error">{{ form.password1.errors }}</span></div>
               </div>
               <div class="label-block">
                  <label class="labelTop">Повторите пароль</label>
                  <div class="input-holder"><i class="eye ico-holder"></i>{{form.password2}}<span class="error">{{ form.password1.errors }}</span></div>
               </div>
               <p class="hint">Пароль должен содержать как минимум одну букву и одну цифру.</p>
               <!--  div class="leonru-phone-holder">
                  <p><strong>ВАЖНО!</strong> На этот Bitcoin кошелек будет отправлен
                      <b>Ваш выигрыш</b>.
                     Будьте внимательны при заполнении поля
                  </p>
                  <div class="label-block">
                     <label class="labelTop">Номер Bitcoin -кошелька</label>
                     <div class="input-holder">
                        <input type="tel" name="phone" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="validatable leonruPhoneInput" placeholder="___ _______"><span class="error"></span>
                     </div>
                  </div>
               </div-->
               
            </fieldset>
            <!-- Registration button --> <input type="submit" id="regButton" class="button" value="Зарегистрироваться"> <!-- END of Registration button -->
         </form>
      </div>
   </div>
</div>
</div>
</div>

{% endblock %} 