{% load i18n staticfiles activepage %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>tippspiel</title>

    <!-- Meta -->
    <meta charset="utf-8" />

    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static "css/formatted-sb9.css" %}">

    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>    
    <script src="{% static "js/tippspiel.js" %}"></script>


    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
</head>
<body class="wide" data-view="preMatchEvents" data-node="preMatchEvents" cz-shortcut-listen="true">
<div class="menu menu-left menu-vertical tabs-icons" data-slider="true" data-level="1" data-menu-id="__root__" style="opacity: 1;">
	<div class="menu-inner position-fixed"> 
		<div class="tabs-nav"> 
			<a href="#" class="tabs-nav__itm tabs-nav__itm--prev is-inactive"></a> 
			<a href="#" class="tabs-nav__itm tabs-nav__itm--next is-inactive"></a> 
		</div> 
		<div class="tab-list tab-list-current" data-count="2">
			<ul>  
				<li data-id="bets" class="tab item-bets active"> 
					<div class="tab-inner"> 
					<a href="/" class="tabs-nav__itm tabs-nav__itm--prev is-inactive"> 
					
						<span class="ico-holder"></span> 
					</a>
						<div class="text">Ставки</div> 
					</div> 
				</li>  
				<li data-id="search" class="tab item-search"> 
					<div class="tab-inner"> 
						<span class="ico-holder"></span> 
							<div class="text">Поиск</div> 
					</div> 
				</li> 
			</ul>  
		</div> 
	</div>
</div>

<!--  Header of site -->
{%include "header.html" %}

<!-- Login and others -->
<div id="tablet-popups">
   <div id="loginPopup" style="display: none;">
      <div id="loginPopupInner">
         <span class="up"></span> <span class="closePopup ico-holder"></span> <span id="regSuccess-block"> <span id="regSuccess" style="display:none">Создание Вашего счета успешно завершено. </span> </span> 
         <div class="loginForm leoncasDisabled">
            <input tabindex="-1" name="fakeinput" style="visibility: hidden; position: absolute;"><input tabindex="-1" name="fakepassword" type="password" style="visibility: hidden; position: absolute;"> 
            <div class="label-block">
               <div class="input-holder"><input name="login" type="text" autocomplete="off" autocorrect="off" placeholder="E-mail или счет #" autocapitalize="off" spellcheck="false" class="validatable"><span class="error"></span></div>
            </div>
            <div class="label-block">
               <div class="input-holder"><i class="eye ico-holder"></i><input class="password validatable" type="password" name="password" autocomplete="off" autocorrect="off" placeholder="Пароль" autocapitalize="off" spellcheck="false"><span class="error"></span><span class="error"></span></div>
            </div>
            <div class="label-block bsavePwd">
               <input type="checkbox" name="savePassword" checked="checked"> <label class="cb-label fl"></label> 
               <p>Сохранить пароль</p>
            </div>
            <input type="hidden" name="loadEventId" value=""> 
            <div class="inputHolder"> <input type="submit" class="loginSubmit button" name="submitButton" value="Вход"> </div>
            <a id="btn-registration" class="button gray" href="/signup/">Регистрация</a> <a id="pwdRecovery">Восстановление пароля</a> 
         </div>
      </div>
   </div>
   <div id="slip" class="covered empty portrait" style="display: none;">
      <div id="slipBox" class="">
         <div id="slipTitle" class="empty">
            <h1>В игре (0)</h1>
            <span id="slipClose" class="slipClose ico-holder"></span> 
         </div>
         <div id="slipHolder">
            <div id="slipData">
               <p><b>Ставки не выбраны.</b> Чтобы выбрать ставку, кликните соответствующий коэффициент.</p>
            </div>
         </div>
      </div>
      <div class="waitingBets">
         <h1 class="hidden">Неразыгранные ставки</h1>
         <ul id="Z_1" class=""></ul>
      </div>
      <div class="slipLinks">
         <ul>
            <li><a href="/signup/" class="slip-reg-link">Зарегистрироваться</a></li>
         </ul>
      </div>
      <div class="campaign--tablet" data-loc="custom"></div>
   </div>
</div>

<!-- Content block -->
        {% block body %}{% endblock %}

    </div>

<!-- Popup menu -->
{% include "popupmenu.html" %}

</script>
</body>
</html>