{% load user_profile i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}

<div id="sidemenu">
{% if user.is_authenticated %}  
<div class="sidemenu langSelection">
   <div class="sidemenuProfile">
      <div class="ico-holder sett-holder"> {{ user.get_username }} <span>{% trans "Balance" %}:  <span id="balanceSidemenu">{% user_balance %}</span>  </span> </div>
      <span class="ico-holder settings" onclick="return location.href = '{% url 'settings' %}'"></span> 
   </div>

      <a class="langSection" href="#"> <span class="down"></span> <span class="langName" data-lang="{{LANGUAGE_CODE}}"></span> </a> 
      <ul class="langselect">
        {% for code, name_local in LANGUAGES %}
         <li>
         	<form id='lang_{{ code }}' action='/i18n/setlang/' method='POST'>
         		{% csrf_token %}
				<input type='hidden' name='language' value='{{ code }}'/>
         		<a data-lang="{{ code }}" onclick="document.getElementById('lang_{{ code }}').submit()">{{ name_local }}</a></li>
         	</form>
        {% endfor %}
      </ul>   
</div>
	<ul class="menuNav sideNav">  
		<li><a class="ico-holder deposit" href="{% url 'pay' %}">{% trans "Deposit to account" %}</a></li>
{% else %}	
	<div class="sidemenu langSelection"> 
		<div class="sidemenuLogin"> 
			<div class="ico-holder login-holder">
			{% blocktrans %}
				 Sign in <span> or register</span> </div>
			{% endblocktrans %} 
			<span class="chevron"></span> 			
		</div> 

      <a class="langSection" href="#"> <span class="down"></span> <span class="langName" data-lang="{{LANGUAGE_CODE}}"></span> </a> 
      <ul class="langselect">
        {% for code, name_local in LANGUAGES %}
         <li>
         	<form id='lang_{{ code }}' action='/i18n/setlang/' method='POST'>
         		{% csrf_token %}
				<input type='hidden' name='language' value='{{ code }}'/>
         		<a data-lang="{{ code }}" onclick="document.getElementById('lang_{{ code }}').submit()">{{ name_local }}</a></li>
         	</form>
        {% endfor %}
      </ul>
		  
	</div>  
	<ul class="menuNav sideNav">  
		<li>
			<a class="ico-holder registr" href="/signup/">{% trans "Sign Up" %}</a>
		</li>
{% endif %}
		<li><a class="ico-holder bets" onclick="return location.href = '{% url 'bets' %}'">{% trans "Bets" %}</a></li> 
		<li><a class="ico-holder search" onclick="return location.href = '{% url 'search' %}'">{% trans "Search" %}</a></li>    
		<li><a class="ico-holder contacts">Контакты</a></li>    
		<li class="dynamicallyAdded promotions"> <a class="ico-holder">  <span class="ico-holder-text">Акции</span> <span class="chevron"></span> </a> </li>  
		<li class="dynamicallyAdded adviser"> <a class="ico-holder">  <i class="adviser-count-icon"><span>2</span></i>  <span class="ico-holder-text">Советы</span> <span class="chevron"></span> </a> </li>   
		<li> <a class="ico-holder cyberSport">Киберспорт</a> </li>       
	</ul>  
	<br> 
</div>
<script>
$('#btn-menu').bind('click', function() {
	$('html').attr('data-sidebar', 'visible');
	$('body').append('<div class="mask-overlay mo-fullscrn mask_0" id="screen_locker"></div>')
	$('#screen_locker').bind('click', function(){
		$('html').attr('data-sidebar', 'hidden');
		$("#screen_locker").remove()
	})
});

$('a.langSection').bind('click', function(){
	if($('ul.langselect').hasClass('open')){
		$('ul.langselect').removeClass('open');
		$('span.up').attr('class', 'down');
		
	}else{
		$('ul.langselect').addClass('open');
		$('span.down').attr('class', 'up');
	}
});
</script>

