{% load i18n staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ThemeStarz">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600">
    <link rel="stylesheet" href="{% static "landing/bootstrap/css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "landing/font-awesome/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "landing/css/style.css" %}">
	<title>BitcoinBets - Cryptocurrency Template</title>

</head>
<body data-spy="scroll" data-target=".navbar" class="has-loading-screen">
    <div class="ts-page-wrapper" id="page-top">
        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <header id="ts-hero" class="ts-full-screen ts-separate-bg-element" data-bg-image="{% static "landing/img/bg-01.jpg" %}" data-bg-parallax="scroll" data-bg-parallax-speed="3" data-bg-particles-line-color="rgba(255,255,255,.6)" data-bg-particles-dot-color="rgba(255,255,255,.1)" data-bg-particles-parallax="1">

            <!--NAVIGATION ******************************************************************************************-->
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top ts-separate-bg-element" data-bg-color="#131c2b">
                <div class="container">
                    <a class="navbar-brand" href="#page-top">
                        <img src="{% static "landing/img/logo.png" %}" alt="">
                    </a>
                    <!--end navbar-brand-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--end navbar-toggler-->
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ml-auto">
                            <a class="nav-item nav-link active" href="#page-top">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="#user-stories">User Stories</a>
                            <a class="nav-item nav-link" href="#the-process">Process</a>
                            <!--a class="nav-item nav-link" href="#our-team">Our Team</a>
                            <a class="nav-item nav-link" href="#pricing">Pricing</a-->
                            <a class="nav-item nav-link" href="#form-contact">Contact</a>
                        </div>
                        <!--end navbar-nav-->
                    </div>
                    <!--end collapse-->
                </div>
                <!--end container-->
            </nav>
            <!--end navbar-->

            <!--HERO CONTENT ****************************************************************************************-->
            <div class="container align-self-center">
                <div class="row align-items-center">
                    <div class="col-sm-7">
                        <h3 class="ts-opacity__60">Делай ставки на результы матчей и зарабатывай bitcoin</h3>
                        <h1>Bitcoin-ставки</h1>
                        <a href="#how-it-works" class="btn btn-primary btn-lg">Узнай больше</a>
                    </div>
                    <!--end col-sm-7 col-md-7-->
                    <div class="col-sm-5 d-none d-sm-block">
                        <img src="{% static "landing/img/coin.png" %}" class="mw-100" alt="">
                    </div>
                    <!--end col-sm-5 col-md-5 col-xl-5-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </header>
        <!--end #hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <main id="ts-content">

            <section id="live-prices">
                <div class="clearfix ts-marquee ts-crypto-prices ts-background-is-dark" data-bg-color="#131c2b" data-from-symbol="BTC,LTC,XRP,ETH" data-to-symbol="USD,EUR,GBP,BTC"></div>
                <!--end ts-marquee-->
            </section>
            <!--end #live-prices-->

            <!--HOW IT WORKS ****************************************************************************************-->
            <section id="how-it-works" class="ts-block">
                <div class="container">
                    <div class="ts-title">
                        <h2>Как это работает</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <figure data-animate="ts-fadeInUp">
                                <figure class="icon mb-5">
                                    <img src="{% static "landing/img/icon-laptop-growth.png" %}" alt="">
                                </figure>
                                <h4>Сделай ставку</h4>
                                <p>
                                    Быстрая регистрация и простой интерфейс позволят Вам максимально легко начать играть и выигрывать. Сосредоточьтесь на результате, об остальном позаботимся мы.
                                </p>
                            </figure>
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <figure data-animate="ts-fadeInUp" data-delay="0.1s">
                                <figure class="icon mb-5">
                                    <img src="{% static "landing/img/icon-exchange.png" %}" alt="">
                                </figure>
                                <h4>Насладись матчем</h4>
                                <p>
                                    Что может сравниться с эмоциями, получаемыми во время просмотра матча любимой команды? Мы предлагаем Вам кратно усилить этот заряд эмоций, делая ставки на «Bitcoinbets».
                                </p>
                            </figure>
                        </div>
                        <!--end col-xl-4-->
                        <div class="col-sm-6 offset-sm-4 col-md-4 offset-md-0 col-xl-4">
                            <figure data-animate="ts-fadeInUp" data-delay="0.2s">
                                <figure class="icon mb-5">
                                    <img src="{% static "landing/img/icon-mobile-cart.png" %}" alt="">
                                </figure>
                                <h4>Забери выигрыш</h4>
                                <p>
                                    Использование криптовалюты на «Bitcoinbets», позволяет Вам быстро и просто пополнить свой депозит, а затем вывести деньги обратно, на свой кошелёк. Применяйте свои знания и опыт для того, что бы зарабатывать.
                                </p>
                            </figure>
                        </div>
                        <!--end col-xl-4-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--END HOW IT WORKS ************************************************************************************-->

            <!--WHY US **********************************************************************************************-->
            <section id="why-us" class="ts-block ts-separate-bg-element" data-bg-color="#f8f8f8" data-bg-image="{% static "landing/img/bg-line-growth.png" %}">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-md-7 col-xl-7" data-animate="ts-fadeInUp" data-offset="100">
                            <div class="ts-title">
                                <h2>Почему мы</h2>
                            </div>
                            <!--end ts-title-->
                            <h4>Только у нас ставки в Bitcoin на спортивные события.</h4>
                            <p>
       							Ставки на спорт - шанс испытать удачу, зарядиться адреналином и ощутить азарт во время просмотра матча с участием любимой команды.
                            </p>
                            <p>
       							 Ставки в криптовалюте это способ значительно приумножить свой капитал на фоне нестабильности курсов криптовалют в мире. А еще Bitcoin обеспечит анонимность Ваших  транзакций.
                            </p>
                            <p>
       							 Простой и удобный интерфейс позволяет быстро сделать ставку на интересующее событие. Лучший способ конвертировать Ваши личные прогнозы и знания в мире спорта в реальные деньги.
                            </p>
                            <a href="{%url "signup" %}" class="btn btn-primary mb-4">Зарегистрироваться</a>
                        </div>
                        <!--end col-xl-7-->
                        <div class="col-md-5 col-xl-5 text-center" data-animate="ts-fadeInUp" data-delay="0.1s" data-offset="100">
                            <img src="{% static "landing/img/image-woman-crossed-hands.png" %} class="mw-100" alt="">
                        </div>
                        <!--end col-xl-5-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--END WHY US ******************************************************************************************-->

            <!--NUMBERS *********************************************************************************************-->
            <section id="numbers" class="ts-block ts-background-is-dark ts-separate-bg-element" data-bg-color="#191919" data-bg-image="{% static "landing/img/bg-chart.jpg" %}" data-bg-parallax="scroll" data-bg-parallax-speed="3">
                <div class="container">
                    <div class="ts-promo-numbers">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="ts-promo-number text-center">
                                    <h2 data-animate="ts-zoomIn">1,200+</h2>
                                    <h3 class="mb-0 ts-opacity__50">Клиентов</h3>
                                    <span class="ts-promo-number-divider"></span>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-4-->
                            <div class="col-sm-4">
                                <div class="ts-promo-number text-center">
                                    <h2 data-animate="ts-zoomIn" data-delay="0.2s">100+</h2>
                                    <h3 class="mb-0 ts-opacity__50">Событий</h3>
                                    <span class="ts-promo-number-divider"></span>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-4-->
                            <div class="col-sm-4">
                                <div class="ts-promo-number text-center">
                                    <h2 data-animate="ts-zoomIn" data-delay="0.2s">$3,15 M</h2>
                                    <h3 class="mb-0 ts-opacity__50">Выиграно</h3>
                                </div>
                                <!--end ts-promo-number-->
                            </div>
                            <!--end col-sm-4-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end ts-promo-numbers-->
                </div>
                <!--end container-->
            </section>
            <!--END NUMBERS *****************************************************************************************-->

            <!--USER STORIES ****************************************************************************************-->
            <div id="user-stories" class="ts-block">
                <div class="container">
                    <div class="ts-title">
                        <h2>Отзывы наших клиентов</h2>
                    </div>
                    <div class="card-columns ts-column-count-sm-1 ts-column-count-md-1 ts-column-count-lg-1 ts-column-count-xl-1">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <figure class="ts-circle-sm ts-shadow__sm mr-3" data-bg-image="{% static "landing/img/person-sm-01.jpg" %}"></figure>
                                    <h5>CryptoSportmaster</h5>
                                </div>
                                <p class="mb-0">
                                    За неделю игры я удвоил свой капитал. У меня раньше был негативный опыт со ставками в фиатных конторах, длительная идентификация, 
                                    проблемы с пополнением депозита -((. Здесь же всё супер, никаких проблем с пополнением и снятием с депозита, 
                                    всё просто и быстро, свою первую ставку я сделал уже через пять минут!!!, -)). Ребята молодцы, делают хорошее дело. Респект.
                                </p>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <figure class="ts-circle-sm ts-shadow__sm mr-3" data-bg-image="{% static "landing/img/person-sm-05.jpg" %}"></figure>
                                    <h5>Nigth F. Searcher</h5>
                                </div>
                                <p class="mb-0">
                                    Первая из компаний, принимающая ставки в криптовалюте. Так держать!
                                </p>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <figure class="ts-circle-sm ts-shadow__sm mr-3" data-bg-image="{% static "landing/img/person-sm-06.jpg" %}"></figure>
                                    <h5>HomeWorker</h5>
                                </div>
                                <p class="mb-0">
                                    Я давно интересуюсь футболом и считаю, что неплохо разбираюсь в нём.  Одновременно у меня имеются вложения в криптовалюту, 
                                    которую я пока продавать не намерен. Учитывая ситуацию на рынках, не располагающую, на мой взгляд,  к биржевой торговле в настоящее время, 
                                    знакомство с BitcoinBets стало прекрасным решением для меня. Благодаря BitcoinBets, сосредоточившись на своём любимом виде спорта, я не 
                                    только испытал множество положительных эмоций, но и значительно увеличил свои сбережения.
                                </p>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end card-columns-->
                    <!-- div class="text-center mt-5">
                        <a href="#" class="btn btn-dark">Load More</a>
                    </div-->
                </div>
                <!--end container-->
            </div>
            <!--END USER STORIES ************************************************************************************-->

            <!--ABOUT CRYPTO CURRENCIES *****************************************************************************-->
            <section id="about-crypto-currencies" class="pb-0 ts-block ts-separate-bg-element" data-bg-color="#f8f8f8" data-bg-image="{% static "landing/img/bg-lines-volume.png" %}" data-bg-image-opacity=".1" data-bg-size="inherit" data-bg-position="bottom">
                <div class="container">
                    <div class="ts-title">
                        <h2>Наши преимущества</h2>
                        <h5>Почему ставки в криптовалюте оптимальное решение?</h5>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-md-7">
                            <figure class="mb-5 ts-xs-text-center" data-animate="ts-fadeInRight">
                                <div class="row align-items-center">
                                    <div class="col-md-2">
                                        <img src="{% static "landing/img/icon-wallet.png" %}" class="mw-100 mb-2" alt="">
                                    </div>
                                    <!--end col-md-2-->
                                    <div class="col-md-10">
                                        <h4 class="mb-3">Анонимность</h4>
                                        <p class="mb-0">
                                            Быстрая и простая регистрация, которая не требует дополнительной верификации. Депозит и все платежи в криптовалюте. 
                                            Не надо указывать данные банковских карт или счетов. Не надо указывать аккаунты в других платёжных системах. Вы указываете 
                                            только адрес своего биткоин-кошелька.
                                        </p>
                                    </div>
                                    <!--end col-md-10-->
                                </div>
                                <!--end row-->
                            </figure>
                            <!--end figure-->
                            <figure class="mb-5 ts-xs-text-center" data-animate="ts-fadeInRight" data-delay="0.1s">
                                <div class="row align-items-center">
                                    <div class="col-md-2">
                                        <img src="{% static "landing/img/icon-dollar-cog-wheel.png" %}" class="mw-100 mb-2" alt="">
                                    </div>
                                    <!--end col-md-2-->
                                    <div class="col-md-10">
                                        <h4 class="mb-3">Надёжность</h4>
                                        <p class="mb-0">
                                            При осуществлении своей деятельности «BitcoinBets» использует защищённые хранилища информации  для хранения ставок и данных пользователей, что исключает доступ к ним третьих лиц. Так же, по своему желанию, 
                                            клиент имеет возможность подключить Гугл-идентификацию своего аккаунта «BitcoinBets».
                                        </p>
                                    </div>
                                    <!--end col-md-10-->
                                </div>
                                <!--end row-->
                            </figure>
                            <!--end figure-->
                            <figure class="mb-5 ts-xs-text-center" data-animate="ts-fadeInRight" data-delay="0.2s">
                                <div class="row align-items-center">
                                    <div class="col-md-2">
                                        <img src="{% static "landing/img/icon-money-hand.png" %}" class="mw-100 mb-2" alt="">
                                    </div>
                                    <!--end col-md-2-->
                                    <div class="col-md-10">
                                        <h4 class="mb-3">Прозрачность</h4>
                                        <p class="mb-0">
                                            Все транзакции по пополнению и снятию с депозита, по ставкам и выплате выигрыша  производятся моментально в автоматическом режиме. Мы не блокируем аккаунты успешных 
                                            пользователей под надуманными предлогами, как это делают другие. Служба технической поддержки «BitcoinBets» будет рада помочь в решении любых возникших у Вас вопросов.
                                        </p>
                                    </div>
                                    <!--end col-md-10-->
                                </div>
                                <!--end row-->
                            </figure>
                            <!--end figure-->
                        </div>
                        <!--end col-md-7-->
                        <div class="col-md-5 align-self-end text-center" data-animate="ts-fadeInUp" data-delay="0.3s">
                            <img src="{% static "landing/img/image-phone-growth.png" %}" class="mw-100" alt="">
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--END ABOUT CRYPTO CURRENCIES *************************************************************************-->

            <!--PROCESS *********************************************************************************************-->
            <section id="the-process" class="pb-0 ts-block">
                <div class="container">
                    <div class="ts-title">
                        <h2>Как выиграть</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="ts-item">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" data-animate="ts-zoomIn">1</span>
                                            <img src="{% static "landing/img/icon-bubbles.png" %}" alt="">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Зарегистрируйся</h4>
                                        <p>
                                            Быстрая регистрация без лишних формальностей и верификаций. Нужно указать только e-mail.  
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-3-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="ts-item">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" data-animate="ts-zoomIn" data-delay="0.2s">2</span>
                                            <img src="{% static "landing/img/icon-wallet-coin.png" %}" alt="">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Пополни счет</h4>
                                        <p>
                                            Просто сделай перевод по указанному bitcoin-адресу. Деньги после подтверждения транзакции будут зачислены на счет.
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-3-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="ts-item">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" data-animate="ts-zoomIn" data-delay="0.4s">3</span>
                                            <img src="{% static "landing/img/icon-head-idea.png" %}" alt="">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Сделай ставку</h4>
                                        <p>
                                            Выбери спортивное событие и исход. Сделай ставку. Сразу после окончания события выигрыш будет переведен на счет.
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-3-->
                        <div class="col-sm-6 col-lg-3">
                            <div class="ts-item">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <span class="step" data-animate="ts-zoomIn" data-delay="0.6s">4</span>
                                            <img src="{% static "landing/img/icon-lcd-growth.png" %}" alt="">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>Забери выигрыш</h4>
                                        <p>
                                            Укажи bitcoin-кошелек и переведи себе выигрыш. Вывод средств со счета можно осуществить в любое время без ограничений.
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                        <!--end col-xl-3-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--END PROCESS *****************************************************************************************-->

            <!--SUBSCRIBE *******************************************************************************************-->
            <section id="subscribe" class="pt-5 ts-block">
                <div class="container">
                    <div class="ts-block-inside ts-shadow__lg ts-border-radius__md ts-separate-bg-element ts-background-is-dark" data-bg-color="#16243b" data-bg-image="{% static "landing/img/bg-mobile-hand.jpg" %}" data-bg-image-opacity=".05">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="ts-title mb-4">
                                    <h3 class="mb-2">Получать наши ставки!</h3>
                                    <h5>Мы пришлем вам подборку самых выгодных ставок! Мы никогда не рассылаем спам</h5>
                                </div>
                                <form class="ts-form ts-form-email ts-labels-inside-input" data-php-path="landing/php/email.php">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="email-subscribe">Email address</label>
                                                <input type="email" class="form-control" id="email-subscribe" aria-describedby="subscribe" name="email" placeholder="" required>
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-10-->
                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                                        </div>
                                        <!--end col-md-2-->
                                    </div>
                                    <!--end row-->
                                </form>
                                <!--end ts-form-->
                            </div>
                        </div>
                    </div>
                    <!--end ts-block-inside-->
                </div>
                <!--end container-->
            </section>
            <!--END SUBSCRIBE ***************************************************************************************-->

            <hr>

        </main>
        <!--end #content-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
        <footer id="ts-footer">
            <div class="container-fluid px-0">
                <div class="row no-gutters">
                    <!-- div class="col-sm-12 col-lg-6 bg-dark">
                        <div class="map" id="map"></div>
                    </div-->
                    <!--end col-->
                    <div class="col-sm-12 col-lg-6 ts-background-is-dark" data-bg-color="#1f2836">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="p-5">
                                    <h3>Address</h3>
                                    <address>
                                        <figure>
                                            R. Carlos Alberto da Mota Pinto 17, 1250-096 Lisboa, Portugal
                                        </figure>
                                        <br>
                                        <figure>
                                            <div class="font-weight-bold">Email:</div>
                                            <a href="#">support@bitcoinbets.info</a>
                                        </figure>
                                        <figure>
                                            <div class="font-weight-bold">Phone:</div>
                                            +351 21 311 4412
                                        </figure>
                                       
                                    </address>
                                    <!--end address-->
                                </div>
                                <!--end p-5-->
                            </div>
                            <!--end col-md-4-->
                            <div class="col-md-8">
                                <div class="p-5">
                                    <h3>Contact Form</h3>
                                    <form id="form-contact" method="post" class="clearfix ts-form ts-form-email ts-inputs__transparent" data-php-path="landing/php/email.php">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="form-contact-name">Your Name *</label>
                                                    <input type="text" class="form-control" id="form-contact-name" name="name" placeholder="Your Name" required>
                                                </div>
                                                <!--end form-group -->
                                            </div>
                                            <!--end col-md-6 col-sm-6 -->
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label for="form-contact-email">Your Email *</label>
                                                    <input type="email" class="form-control" id="form-contact-email" name="email" placeholder="Your Email" required>
                                                </div>
                                                <!--end form-group -->
                                            </div>
                                            <!--end col-md-6 col-sm-6 -->
                                        </div>
                                        <!--end row -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="form-contact-message">Your Message *</label>
                                                    <textarea class="form-control" id="form-contact-message" rows="5" name="message" placeholder="Your Message" required></textarea>
                                                </div>
                                                <!--end form-group -->
                                            </div>
                                            <!--end col-md-12 -->
                                        </div>
                                        <!--end row -->
                                        <div class="form-group clearfix">
                                            <button type="submit" class="btn btn-primary float-right" id="form-contact-submit">Send a Message</button>
                                        </div>
                                        <!--end form-group -->
                                        <div class="form-contact-status"></div>
                                    </form>
                                    <!--end form-contact -->
                                </div>
                                <!--end p-5-->
                            </div>
                            <!--end col-md-8-->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row.not-gutters-->
            </div>
            <!--end container-fluid-->

            <div class="p-4 ts-block ts-background-is-dark" data-bg-color="#131c2b" data-bg-image="{%static "landing/img/bg-blurred.jpg" %}">
                <div class="container">
                    <small>© 2018 ThemeStarz, All Rights Reserved</small>
                </div>
                <!--end container-->
            </div>
            <!--end ts-block-->
        </footer>
        <!--end #footer-->
    </div>
    <!--end page-->

    <script>
        if( document.getElementsByClassName("ts-full-screen").length ) {
            document.getElementsByClassName("ts-full-screen")[0].style.height = window.innerHeight + "px";
        }
    </script>
	<script src="{% static "landing/js/jquery-3.3.1.min.js" %}"></script>
	<script src="{% static "landing/js/popper.min.js" %}"></script>
	<script src="{% static "landing/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "landing/js/imagesloaded.pkgd.min.js" %}"></script>
    <!-- script src="http://maps.google.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58"></script -->
	<script src="{% static "landing/js/isInViewport.jquery.js" %}"></script>
	<script src="{% static "landing/js/jquery.particleground.min.js" %}"></script>
	<script src="{% static "landing/js/jquery.marquee.min.js" %}"></script>
	<script src="{% static "landing/js/scrolla.jquery.min.js" %}"></script>
	<script src="{% static "landing/js/jquery.validate.min.js" %}"></script>
	<script src="{% static "landing/js/jquery-validate.bootstrap-tooltip.min.js" %}"></script>
    <script src="{% static "landing/js/custom.js" %}"></script>

    <!--Google map-->

    <script>
        var latitude = 34.038405;
        var longitude = -117.946944;
        var markerImage = "{% static "landing/img/map-marker-w.png"%}";
        var mapElement = "map";
        var mapStyle = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#424b5b"},{"weight":2},{"gamma":"1"}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"weight":0.6},{"color":"#545b6b"},{"gamma":"0"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#545b6b"},{"gamma":"1"},{"weight":"10"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#666c7b"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#545b6b"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#424a5b"},{"lightness":"0"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#666c7b"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#2e3546"}]}];
        google.maps.event.addDomListener(window, 'load', simpleMap(latitude, longitude, markerImage, mapStyle, mapElement));
    </script>

</body>
</html>
