{% extends "base.html" %}
{% load i18n %}

{% block body %}
<div id="modals">
   <div>
      <div class="modal modal--type__success modal--origin__app modal--new" data-id="success:26497">
         <div class="ico-holder modal__icon"></div>
         <div class="modal__content"> 
         		<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
				<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
		 </div>
         <div class="modal__buttons" onclick="return location.href = '{% url 'tippspiel_match_list' %}'"> <span data-href="" data-index="0" class="modal__button modal__button--close">Закрыть</span> </div>
      </div>
   </div>
</div>

{% endblock %}