{% extends "base.html" %}
{% load i18n staticfiles %}
{% block body %}

<div id="wrapper">
   <div class="downtime-alert" id="downtimeAlert" style="display: none;"></div>
   <div class="menu menu-top menu-horizontal" data-slider="true" data-level="2" data-menu-id="profile" style="opacity: 1;">
      <div class="menu-inner position-fixed tab-list-current">
         <div class="tabs-nav"> <a href="#" class="tabs-nav__itm tabs-nav__itm--prev is-inactive"></a> <a href="#" class="tabs-nav__itm tabs-nav__itm--next is-inactive"></a> </div>
         <div class="tab-list tab-list-current" data-count="3">
            <ul>
               <li data-id="profileGeneral" class="tab item-profileGeneral active" onclick="return location.href = '{% url 'history' %}'">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Профайл</div>
                  </div>
               </li>
               <li data-id="history" class="tab item-history" onclick="return location.href = '{% url 'history' %}'">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">История</div>
                  </div>
               </li>
               <li data-id="profileSettings" class="tab item-profileSettings" onclick="return location.href = '{% url 'settings' %}'">
                  <div class="tab-inner">
                     <span class="ico-holder"></span> 
                     <div class="text">Настройки</div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="menu menu-top menu-horizontal hidden" data-level="3" data-sticky="false"></div>
   <div class="banner" style="display: none;"></div>
   <div id="content-wrap">
      <div class="campaign campaign--tablet" data-loc="top">
         <div></div>
      </div>
      <div class="slider"></div>
      <div id="content">
         <div class="view visible" id="passChangeView">
            <h1 class="title"><span class="title-holder">Изменение пароля</span></h1>
            <form class="profileSettings passChange" method="post">
               <fieldset>
                  {% csrf_token %}  
					{% for field in form %}
                  <div class="label-block">
                     <label class="labelTop">{{ field.label }}</label>
                     <div class="input-holder">
                     	{{field}}
                     	{% if field.errors %}
                     	<span class="error" style="display: inline-block;">{{ field.errors }}</span>
                     	{% endif %}
                      </div>
                  </div>
                  {% endfor %}
               </fieldset>
                  <input type="submit" value="Отправить"> 
            </form>
         </div>
      </div>
      <div id="sportradarLiveWidget"></div>
      <div class="campaign campaign--tablet" data-loc="bottom" style="">
         <div></div>
      </div>

   </div>
</div>
{% endblock %}