{% extends "base.html" %}
{% load i18n %}

{% block body %}
<div id="modals">
   <div>
      <div class="modal modal--type__success modal--origin__app modal--new" data-id="success:26497">
         <div class="ico-holder modal__icon"></div>
         <div class="modal__content"> 
         		{% trans 'Your password was changed.' %}
		 </div>
         <div class="modal__buttons" onclick="return location.href = '{% url 'tippspiel_match_list' %}'"> <span data-href="" data-index="0" class="modal__button modal__button--close">Закрыть</span> </div>
      </div>
   </div>
</div>

{% endblock %}