{% extends "base.html" %}
{% load i18n staticfiles %}
{% block body %}
<div id="wrapper">
   <div class="downtime-alert" id="downtimeAlert" style="display: none;"></div>
   <div class="menu menu-top menu-horizontal hidden" data-slider="true" data-level="2" data-menu-id="registration" style="opacity: 1;"></div>
   <div class="menu menu-top menu-horizontal" data-level="3" data-sticky="false"></div>
   <div class="banner" style="display: none;"></div>
   <div id="content-wrap">
      <div class="campaign campaign--tablet" data-loc="top">
         <div></div>
      </div>
      <div class="slider"></div>
      <div id="content">
         <div class="view visible" id="recoveryView">
            <h1 class="title"><span class="title-holder">Восстановление пароля</span></h1>
            <div class="recovery-block">
               <div class="error" style="display: none"></div>
               <form method="post">
                  {% csrf_token %}  
					{% for field in form %}
                  <div class="label-block">
                     <label class="labelTop">{{ field.label }}</label>
                     <div class="input-holder">
                     	{{field}}
                     	<span class="error" style="display: inline-block;">{{ field.error }}</span>
                      </div>
                  </div>
                  {% endfor %}
                  <input type="submit" value="Отправить"> 
                  <p class="hint"> Укажите адрес электронной почты, указанный при регистрации. Новый пароль будет создан автоматически и выслан на этот адрес. Для максимальной безопасности рекомендуем Вам изменить пароль сразу после авторизации на сайте. </p>
               </form>
            </div>
         </div>
      </div>
      <div id="sportradarLiveWidget"></div>
      <div class="campaign campaign--tablet" data-loc="bottom" style="">
         <div></div>
      </div>
   </div>
</div>
{% endblock %}
